# CMake build files
build/
bin/
lib/
*.a
*.so
*.dylib

# Visual Studio Code specific files
.vscode/
.vscode_/
*.code-workspace

# Dependency management
vcpkg/

# Compiled object files and executables
*.o
*.obj
*.exe
*.out

# IDE and other temporary files
*.pro.user
*.kdev4
*.swp
*~
.#*
*.bak

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
Desktop.ini
